.gallery {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 25px;
  /* border: 1px solid red; */
  overflow: hidden;
  overflow-y: scroll;
  /* grid-gap: 16px; */
}

.gallery img {
  width: 100%;

  max-height: 200px;
}