.gallery {
  border-radius: 25px;
  overflow: hidden;
  overflow-y: scroll;
  height: 100%;
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.galleryGrid img {
  width: 100%;
  max-height: 200px;
}

.selectedImageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selectedImageContainer img {
  width: 100%;
}