.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
}

/* .display {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
} */

.camera {
  position: relative;
  width: 100%;
}

.facecanvas {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
  /* border-radius: 18px; */
}

.cameratrigger {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #E24E1C;
  cursor: pointer;
  border: 5px solid #8B3418;
  position: relative;
  bottom: 0;
}

.cameraswitch {
  background: none;
  border: none;

}

.display {

  width: 720px;


}

.cameraContainer {
  position: relative;
  aspect-ratio: 1/1;
  background-color: black;
}

.camera {

  margin: auto;
}

.camera video {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.roll img {
  width: 50px;
  height: 62.5px;
  display: none;
}

.actions {
  padding: 10px 20px;
  width: 95%;
  max-width: 385px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
}

.galleryCover {
  width: 50px;
  height: 50px;
  background-color: #4BB86A;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.galleryCover img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 8px;
}

.strip img {
  width: 50px;
}

.last-image {
  width: 100%;
  height: 100%;
}

.modalcontainer {
  transition: opacity 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.modalbackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalcontent {
  /* background-color: white; */
  background: linear-gradient(200.77deg, rgba(255, 255, 255, 0.52) 0%, rgba(255, 255, 255, 0.2) 100%);
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  width: 90%;
  height: 90%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.galleryMenu {
  position: absolute;
  width: 85%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  background: rgba(99, 99, 102, 0.58);
  z-index: 1;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 18px;
}

.backButton {
  background: none;
  border: none;
}

.backButton img {
  width: 40px;
}

.colorPicker {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorPicker button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  margin: 5px;
}

.green {
  background-color: #50E854;
}

.red {
  background-color: #FE4435;
}

.blue {
  background-color: #2D3AF3;
}

.yellow {
  background-color: #FFE600;
}

.white {
  background-color: #FEFEFE;
}

@media screen and (max-width: 720px) {
  .display {
    width: 100%;

  }
}