.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}

.display {
  /* height: 75vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.camera {
  width: 100%;
}

.facecanvas {
  width: 100%;
  /* border-radius: 18px; */
}

.cameratrigger {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #E24E1C;
  cursor: pointer;
  border: 25px solid rgba(226, 78, 28, 0.59);
  position: relative;
  bottom: 0;
}

.roll img {
  width: 50px;
  height: 62.5px;
  display: none;
}

.actions {
  margin: 50px 40px;
  width: 80%;
  max-width: 385px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.galleryCover {
  width: 50px;
  height: 50px;
  background-color: #4BB86A;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.galleryCover img {
  width: 100%;
  height: 100%;
}

.strip img {
  width: 50px;
}

.last-image {
  width: 100%;
  height: 100%;
}

.modalcontainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalbackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalcontent {
  /* background-color: white; */
  background: linear-gradient(200.77deg, rgba(255, 255, 255, 0.52) 0%, rgba(255, 255, 255, 0.2) 100%);
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  width: 90%;
  height: 90%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galleryMenu {
  position: absolute;
  width: 85%;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  background: rgba(99, 99, 102, 0.58);
  z-index: 1;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 18px;
}

.backButton {
  background: none;
  border: none;
}

.backButton img {
  width: 40px;
}

@media screen and (min-width: 320px) {
  .facecanvas {
    width: 100%;
    min-height: 0;
  }
}

@media screen and (min-width: 375px) {
  .facecanvas {
    width: 100%;
    min-height: 0;
  }
}

@media screen and (min-width: 425px) {
  .facecanvas {
    width: 100%;
    min-height: 0;

  }


}